* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #312f2f;
  font-family: "Lato", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 32px;
  color: #f6e8ea;
}

.field-input {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.field-input i {
  position: absolute;
  right: 20px;
  top: 60%;
  font-size: 23px;
  transform: translateY(-50%);
  transition: all 0.6s ease-in-out;
}

.field-input i.fa-exclamation-circle {
  color: #ef626c;
}

.field-input i.fa-check-circle {
  color: #84dccf;
}

.field-input input {
  font-size: 19px;
  width: 100%;
  padding: 18px;
  background-color: transparent;
  border: none;
  outline: none;
  border: 1px solid #f6e8ea;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: #f6e8ea !important;
  border-radius: 5px;
}

.field-input input::placeholder {
  color: #f6e8ea !important;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.field-input span {
  height: 24px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 15px;
  opacity: 0;
  transition: all 0.6s ease-in-out;
}

.field-input span.invalid {
  color: #ef626c;
}

.field-input span.valid {
  color: #84dccf;
}
