section{
    text-align: center;
}
.grid{
    display: grid;
    width: 400px;
    grid-template-columns: repeat(3,auto);
    margin: 50px auto;

}
.cell{
    border: 2px solid black;
    padding: 30px;

}