body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    width: 500px;
}
.tag{
    background-color: orange;;
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
    margin: 0 5px 5px 0;
}

.tag.highlights{
    background-color: blueviolet;
}